__pycache__/
*.py[cod]
*.pyo

.env
.env.example

*.tmp

alembic/README

tests/
.pytest_cache/
.ruff_cache/
pytest.ini

lifecycle/

venv/

desktop.ini

.github/
requirements-dev.txt
pyproject.toml
.git
.gitignore
.gitattributes